    /* the styles for the elements */
* {
    margin: 0;
    padding: 0;
}
html {
    background-image: linear-gradient(135deg, skyblue, ghostwhite);
    height: 100%;
    background-repeat: no-repeat;
}

    /* the styles for the body */
body {
    margin: 1em auto;
    padding: .5em 0 0 0; /* give clearance for rounded corners */
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    border: 3px solid;
    border-radius: 15px;
    box-shadow: 5px 10px 8px;
}

    /* change color of links when hovered over or focused on */
a:focus, a:hover {
    color: red;
    background-color: skyblue;
}

    /* the styles for the header */
header {
    border-bottom: 5px solid;
}
header img {
    float: left;
}
header h2 {
    padding: 1em 0 2em 0; /* prevent hiding border by the image */
    margin-left: 10em;
}

    /* the styles for the navigation menu */
#nav_menu ul {
    list-style-type: none;
    padding: .5em 0;
}
#nav_menu ul li {
    float: left;
    display: inline;
}
#nav_menu ul li a{
    text-align: center;
    text-decoration: none;
    color: ghostwhite;
    font-weight: bold;
    display: block;
    width: 239px;
    padding: 1em 0;
    background-color: gray;
    border-right: 1px solid white;
}
#nav_menu ul li a.current {color: black; text-decoration: underline;}
#nav_menu ul li a.lastitem {border-right: none;}
#nav_menu ul li a:focus, #nav_menu ul li a:hover {
    color: red;
    background-color: skyblue;
}

    /* the styles for the main content */
main {
    padding: 1em;
    clear: left;
}
main h2:first-child::first-letter { font-size: 150% }
main p {
    padding: .25em 0 1em .5em;
}
main section {
    width: 550px;
    float: right;
}
main section h3 {
    clear: left;
}
main section p {
}
/*main section img {
    float: left;
    max-width: 200px;
    height: auto;
    margin: 0 .5em .5em 0;
}*/
main aside {
    font-size: 75%;
    width: 350px;
    float: left;
}
ul.none {list-style-type: none;}
main ul {
    margin: .25em 0 1em 2em;
}
#car_profile h2 {
    margin-bottom: .5em;
}
#car_profile h4 {
    margin-bottom: 2em;
}
#car_profile p {
    margin-bottom: 5em;
}
#car_profile img {
    float: left;
    max-width: 200px;
    height: auto;
    margin: 0 .5em .5em 0;
}

    /* the styles for the navigation list */
#nav_list ul {
    list-style-type: none;
}
#nav_list ul li {
    margin-bottom: .5em;
    border: 2px solid blue;
}
#nav_list ul li a{
    display: block;
    padding: .5em 0 .5em 0;
    margin-left: .5em;
    text-decoration: none;
}

    /* the styles for the footer */
footer {
    clear: both;
    font-size: 65%;
    text-align: center;
    border-top: 1px solid;
    background-color: gray;
    border-radius: 0 0 10px 10px; /* remove white space from rounded corners */
}
footer p {
    padding: 1em 0;
}